<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title>메인 페이지</title>
</head>

<body>
<h1>메인페이지</h1>
<section layout:fragment="content">
  <div class="container">

    <th:block th:each="post : ${postList}">
      <div>
        [[${post.postId}]]
      </div>
      <div>
        [[${post.subject}]]
      </div>
      <div>
        [[${post.author.username}]]
      </div>
      <div>
        [[${post.createDate}]]
      </div>
      <div>
        [[${post.updateDate}]]
      </div>
    </th:block>
  </div>

</section>
</body>
</html>